$cl-blue: #005797;
$cl-white: #FFFFFF;
$cl-skyblue: #0091E0;
$cl-green: #96E845;
$cl-aqua: #CCFFFF;
$cl-gray: #F2F2F2;
$cl-orange:#f17725;
$cl-purple:#ec3e73;
$cl-white: #FFFFFF;
$cl-primary: #00A0CB;
$cl-primary-alt: #00C0E4;
$cl-secondary: #3871C1;
$cl-secondary-alt: #2C3892;